header {
	border-bottom: 1px solid;
	display: flex;
	color: var(--color-text);
	.home {

		padding: .5rem;
		align-self: center;
		img {
			height: 2.5em;
			filter: url("#currentcolor");
			@media (width < 600px) {
				font-size: .75em;
			}
		}
	}
}
a.profile {
	margin-left: auto;
	padding: 0.5rem;
	align-self: center;
	img {
		height: 2.5em;
		filter: url("#currentcolor");
	}
}
