:root {
	--h: 197;
	--s: 78%;
	--ll: 91%;
	--l: 76%;
	--ld: 61%;
	--dl: 34%;
	--d: 24%;
	--dd: 14%;
	--color-text: hsl(var(--h), var(--s), var(--d));
	@media (prefers-color-scheme: dark) {
		--ll: 14%;
		--l: 24%;
		--ld: 34%;
		--dl: 61%;
		--d: 76%;
		--dd: 86%;
	}
}
@font-face {
	font-family: icons;
	src: url("../img/iconfont.ttf") format("truetype");
	font-style: normal;
}
